@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Электронная ведомость</title>
</head>
<body>
    <div>
        <h3>Области:</h3>
        <table>
            @foreach (var b in ViewBag.Oblasti)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p><a href="/Home/Obl/@b.ID_Obl">Перейти</a></p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
